
/* UOB [Typography] */

// Dependencies
@import bourbon

// Fonts defenitions
@font-face
	font-family: 'robotolight'
	src: url('../fonts/roboto-light-webfont.woff2') format('woff2'), url('../fonts/roboto-light-webfont.woff') format('woff')
	font-weight: normal
	font-style: normal
@font-face
	font-family: 'robotoregular'
	src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto-regular-webfont.woff') format('woff')
	font-weight: normal
	font-style: normal
@font-face
	font-family: 'robotothin'
	src: url('../fonts/roboto-thin-webfont.woff2') format('woff2'), url('../fonts/roboto-thin-webfont.woff') format('woff')
	font-weight: normal
	font-style: normal
@font-face
	font-family: 'robotoblack'
	src: url('../fonts/roboto-black-webfont.woff') format('woff2'), url('../fonts/roboto-black-webfont.woff') format('woff')
	font-weight: normal
	font-style: normal

// typography
h3
	font-family: 'robotolight'
	font-size: 20px
	color: #ffffff
	font-weight: bold
	letter-spacing: 0.5pt
	line-height: 1.4em

// general
html
	background-color: #509cde
body
	background-image: url('../img/backgrounds/uob-atm-bg.jpg')
	background-size: contain
	width: 800px
	height: 600px
	font-family: 'robotolight'
input
	box-sizing: content-box

// navigation
header
	.icons-container
		padding: 0 20px
	&.logo-header
		background-color: #274d6f
		height: 80px
		position: relative
		border-bottom: 5px solid #142738
	.icons-container
		> img
			margin-top: 20px
		.brand-ico
			float: left
		.close-ico, .lang-ico
			float: right
		.lang-ico
			margin-top: 30px
		.close-ico
			margin-top: 25px

// transparent container
.transparent-container
	background: linear-gradient(rgba(16,51,95, 0.7), rgba(24,62,96, 0.7))
	border-radius: 8px
	&.darker
		background: linear-gradient(rgba(26,64,98, 0.7), rgba(10,32,63, 0.7))

// password container
.pin-container
	margin-top: 175px
.password-wrapper
	width: 250px
	margin: 20px auto

// menu container
.menu-container
	width: 560px
	height: 485px
	margin: 35px auto 0
	position: relative
	h3
		margin-bottom: 30px
	.arrow-right
		@include position(absolute, 50% -80px null null)
		@include transform(translateY(-115%))
	&.withdraw
		.row
			margin: 0 0 0 0
	.row
		margin: 0 0 6px 0
		.withdraw &
			margin: 0 0 0 0

		> div
			padding-right: 3px
			padding-left: 3px
		.transparent-container
			min-height: 145px
			@include position(relative)
			> img
				@include position(absolute, 50% null null 50%)
				@include transform(translateX(-50%) translateY(-50%))
		> .transparent-container:first-child
			margin-right: 5px
		> .transparent-container:last-child
			margin-left: 5px
	// fav container
	.favourite-container
		background-color: rgba(232, 232, 232, 0.32)
		position: absolute
		bottom: 0
		left: 0
		width: 134px
		height: 110px
		border-top-left-radius: 3px
		border-top-right-radius: 3px
		padding: 5px

// summary container
.summary-wrapper
	.summary-container
		width: 495px
		height: 304px
		margin: 15px auto 0
		background-image: url("../img/backgrounds/summary-bg.jpg")
		background-repeat: no-repeat
		background-size: contain
		p.account-type
			text-align: left
			color: #fff
			font-size: 16px
			padding: 10px 20px
			font-family: 'robotoregular'
		div.account-name
			text-align: left
			padding-left: 20px
			p.name
				margin-bottom: 0
				color: #1f6eda
			p.number
				font-family: 'robotothin'
				font-size: 13px
				color: #525252
		div.account-balance
			text-align: right
			margin-top: 20px
			padding-right: 20px
			> p
				font-size: 13px
				margin-bottom: 5px
				color: #979797
			p.balance
				color: #44aa3f
				font-size: 18px
		p.date
			text-align: left
			font-family: 'robotoblack'
			font-size: 13px
			margin: 20px 0 0 100px
		.location-amount
			text-align: left
			margin: 20px 80px 0px 105px
			.location
				font-size: 13px
				margin-bottom: 5px
			.amount
				font-size: 17px
				font-family: 'robotoblack'
				text-align: right
		// buttons				
		.two-button-container
			margin-top: 50px
// buttons				
.two-button-container
	margin-top: 5px
	button, button:hover, button:active, button:focus
		width: 48%
		border: none
		display: inline-block
		color: #fff
		background-image: -webkit-linear-gradient(#1f6edb, #1f6edc)
		background-image: -o-linear-gradient(#1f6edb, #1f6edc)
		background-image: linear-gradient(#1f6edb, #1f6edc)
		&:first-child
			margin-right: 10px
		&.white, &.white:focus, &.white:active, &.white:hover
			color: #1f6edb
			background-color: #FFF
			background-image: none

// withdrawel carousel
.withdraw
	.carousel-section
		margin-left: -200px
		height: 195px
		width: 500px
	.accountslider
		overflow: visible !important
		margin-bottom: -25px
		> .item
			width: 312px
			height: 145px
			background-image: url("../img/backgrounds/account-bg.png")
			background-repeat: no-repeat
			background-size: cover
			p.account-type
				text-align: left
				color: #fff
				font-size: 16px
				padding: 10px 20px
				font-family: 'robotoregular'
			div.name-number
				text-align: left
				padding-left: 20px
				p.name
					margin-bottom: 0
					color: #1f6eda
				p.number
					font-family: 'robotothin'
					font-size: 13px
					color: #525252
					margin-bottom: 5px;
			div.balance
				text-align: right
				margin-top: 5px
				padding-right: 20px
				> p
					font-size: 13px
					margin-bottom: 0px
					color: #979797
				p.amount
					color: #44aa3f
					font-size: 18px
	// buttons
	.two-button-container
		width: 500px
		margin: 7px auto



