.menu-container.withdraw {
  margin: 15px auto 0;
}

span.multi-button {
  display: inline;
  top: -5px;
  right: 5px;
  position: absolute;
}

h3.inline-heading {
  display: inline;
  position: relative;
}

.menu-container .row.carosuel-section {
  margin-top: 20px;
}

.left-pan {
  float: left;
  position: absolute;
  top: 80px;
}

.menu-container .row .transparent-container.keypads {
  min-height: 245px;
  min-height-position: relative;
}

.menu-container.acknowledgement {
  margin-top: 75px;
  height: 370px;
}

.row.acknowlegement-box {
  margin-top: 55px;
}

.transparent-inner {
  padding: 48px 30px 42px 30px;
}

.transparent-container.acknowledgement {
  width: 540px;
  height: 155px;
  margin: auto;
  text-align: left;
}

.timing {
  font-family: robotolight;
  font-size: 19px;
  font-weight: bold;
  color: #fff;
}

.password-wrapper {
  width: 370px;
}

#login-form-1 div {
  position: relative;
}

#letterViewer {
  display: none;
  position: absolute;
  left: 240px;
  top: -30px;
  width: 100px;
  font-size: 40px;
  color: #fff;
}

.pass-box {
  border: none;
  width: 370px;
  color: #fff;
  font-size: 40px;
  background: none;
  padding: 0px 40px;
  letter-spacing: 30px;
  font-family: robotolight;
}

.menu-container.landing {
  margin: 35px 85px;
  width: 628px;
  height: 150px;
}

.menu-container.landing p {
  font-size: 15px;
  font-family: robotolight;
  color: #fff;
}

.menu-container .row .transparent-container.landing {
  width: 300px;
}

.transparent-container.landing {
  padding: 65px 90px;
  border-radius: 8px;
}

.transparent-container.landing.second {
  padding: 55px 60px;
  margin-left: 10px;
}

.row.know {
  margin-top: 20px;
}

.transparent-container.keypads {
  width: 500px;
  margin: auto;
  border-radius: 8px;
}

.transparent-container.keypads .keypad-inner {
  padding: 10px 5px 5px 5px;
}

.transparent-container.keypads .keypad-inner p {
  font-size: 17px;
  color: #fff;
  font-family: robotolight;
  margin-bottom: 0px;
}

.key-boxes {
  display: inline-block;
  width: 65px;
  height: 78px;
  padding: 28px 10px;
  margin-top: 18px;
  background: #142d4b;
  opacity: 0.8;
  border-radius: 8px;
}

.key-boxes.second {
  margin-left: 7px;
}

.key-boxes p {
  font-size: 17px;
  color: #fff;
  font-family: robotolight;
  font-weight: bold;
}

.col-xs-6.keypads {
  width: 230px;
}

.col-xs-6.keypads .second-row {
  margin-top: 10px;
}

.col-xs-6.keypads .second-row .key-boxes {
  margin-top: 0px;
}

form {
  margin: 0 0px 10px 0;
}

input.other-amount {
  background: #c5cdd5;
  border-radius: 3px;
  width: 223px;
  height: 38px;
  margin-top: 18px;
}

.menu-container .row > div.col-xs-6.others {
  padding-left: 26px;
}

.summary-wrapper .two-button-container a {
  display: inline-block;
  width: 49%;
}

.summary-wrapper button {
  width: 97%;
}

.summary-wrapper button:hover {
  width: 97%;
}
