/* UOB [Typography] */
@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url("../fonts/roboto-thin-webfont.woff2") format("woff2"), url("../fonts/roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoblack';
  src: url("../fonts/roboto-black-webfont.woff") format("woff2"), url("../fonts/roboto-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: 'robotolight';
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 0.5pt;
  line-height: 1.4em;
}

html {
  background-color: #509cde;
}

body {
  background-image: url("../img/backgrounds/uob-atm-bg.jpg");
  background-size: contain;
  width: 800px;
  height: 600px;
  font-family: 'robotolight';
}

input {
  box-sizing: content-box;
}

header .icons-container {
  padding: 0 20px;
}

header.logo-header {
  background-color: #274d6f;
  height: 80px;
  position: relative;
  border-bottom: 5px solid #142738;
}

header .icons-container > img {
  margin-top: 20px;
}

header .icons-container .brand-ico {
  float: left;
}

header .icons-container .close-ico, header .icons-container .lang-ico {
  float: right;
}

header .icons-container .lang-ico {
  margin-top: 30px;
}

header .icons-container .close-ico {
  margin-top: 25px;
}

.transparent-container {
  background: linear-gradient(rgba(16, 51, 95, 0.7), rgba(24, 62, 96, 0.7));
  border-radius: 8px;
}

.transparent-container.darker {
  background: linear-gradient(rgba(26, 64, 98, 0.7), rgba(10, 32, 63, 0.7));
}

.pin-container {
  margin-top: 175px;
}

.password-wrapper {
  width: 250px;
  margin: 20px auto;
}

.menu-container {
  width: 560px;
  height: 485px;
  margin: 35px auto 0;
  position: relative;
}

.menu-container h3 {
  margin-bottom: 30px;
}

.menu-container .arrow-right {
  position: absolute;
  top: 50%;
  right: -80px;
  -webkit-transform: translateY(-115%);
  -moz-transform: translateY(-115%);
  -ms-transform: translateY(-115%);
  -o-transform: translateY(-115%);
  transform: translateY(-115%);
}

.menu-container.withdraw .row {
  margin: 0 0 0 0;
}

.menu-container .row {
  margin: 0 0 6px 0;
}

.withdraw .menu-container .row {
  margin: 0 0 0 0;
}

.menu-container .row > div {
  padding-right: 3px;
  padding-left: 3px;
}

.menu-container .row .transparent-container {
  min-height: 145px;
  position: relative;
}

.menu-container .row .transparent-container > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.menu-container .row > .transparent-container:first-child {
  margin-right: 5px;
}

.menu-container .row > .transparent-container:last-child {
  margin-left: 5px;
}

.menu-container .favourite-container {
  background-color: rgba(232, 232, 232, 0.32);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 134px;
  height: 110px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 5px;
}

.summary-wrapper .summary-container {
  width: 495px;
  height: 304px;
  margin: 15px auto 0;
  background-image: url("../img/backgrounds/summary-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.summary-wrapper .summary-container p.account-type {
  text-align: left;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  font-family: 'robotoregular';
}

.summary-wrapper .summary-container div.account-name {
  text-align: left;
  padding-left: 20px;
}

.summary-wrapper .summary-container div.account-name p.name {
  margin-bottom: 0;
  color: #1f6eda;
}

.summary-wrapper .summary-container div.account-name p.number {
  font-family: 'robotothin';
  font-size: 13px;
  color: #525252;
}

.summary-wrapper .summary-container div.account-balance {
  text-align: right;
  margin-top: 20px;
  padding-right: 20px;
}

.summary-wrapper .summary-container div.account-balance > p {
  font-size: 13px;
  margin-bottom: 5px;
  color: #979797;
}

.summary-wrapper .summary-container div.account-balance p.balance {
  color: #44aa3f;
  font-size: 18px;
}

.summary-wrapper .summary-container p.date {
  text-align: left;
  font-family: 'robotoblack';
  font-size: 13px;
  margin: 20px 0 0 100px;
}

.summary-wrapper .summary-container .location-amount {
  text-align: left;
  margin: 20px 80px 0px 105px;
}

.summary-wrapper .summary-container .location-amount .location {
  font-size: 13px;
  margin-bottom: 5px;
}

.summary-wrapper .summary-container .location-amount .amount {
  font-size: 17px;
  font-family: 'robotoblack';
  text-align: right;
}

.summary-wrapper .summary-container .two-button-container {
  margin-top: 50px;
}

.two-button-container {
  margin-top: 5px;
}

.two-button-container button, .two-button-container button:hover, .two-button-container button:active, .two-button-container button:focus {
  width: 48%;
  border: none;
  display: inline-block;
  color: #fff;
  background-image: -webkit-linear-gradient(#1f6edb, #1f6edc);
  background-image: -o-linear-gradient(#1f6edb, #1f6edc);
  background-image: linear-gradient(#1f6edb, #1f6edc);
}

.two-button-container button:first-child, .two-button-container button:hover:first-child, .two-button-container button:active:first-child, .two-button-container button:focus:first-child {
  margin-right: 10px;
}

.two-button-container button.white, .two-button-container button.white:focus, .two-button-container button.white:active, .two-button-container button.white:hover, .two-button-container button:hover.white, .two-button-container button:hover.white:focus, .two-button-container button:hover.white:active, .two-button-container button:hover.white:hover, .two-button-container button:active.white, .two-button-container button:active.white:focus, .two-button-container button:active.white:active, .two-button-container button:active.white:hover, .two-button-container button:focus.white, .two-button-container button:focus.white:focus, .two-button-container button:focus.white:active, .two-button-container button:focus.white:hover {
  color: #1f6edb;
  background-color: #FFF;
  background-image: none;
}

.withdraw .carousel-section {
  margin-left: -200px;
  height: 195px;
  width: 500px;
}

.withdraw .accountslider {
  overflow: visible !important;
  margin-bottom: -25px;
}

.withdraw .accountslider > .item {
  width: 312px;
  height: 145px;
  background-image: url("../img/backgrounds/account-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.withdraw .accountslider > .item p.account-type {
  text-align: left;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  font-family: 'robotoregular';
}

.withdraw .accountslider > .item div.name-number {
  text-align: left;
  padding-left: 20px;
}

.withdraw .accountslider > .item div.name-number p.name {
  margin-bottom: 0;
  color: #1f6eda;
}

.withdraw .accountslider > .item div.name-number p.number {
  font-family: 'robotothin';
  font-size: 13px;
  color: #525252;
  margin-bottom: 5px;
}

.withdraw .accountslider > .item div.balance {
  text-align: right;
  margin-top: 5px;
  padding-right: 20px;
}

.withdraw .accountslider > .item div.balance > p {
  font-size: 13px;
  margin-bottom: 0px;
  color: #979797;
}

.withdraw .accountslider > .item div.balance p.amount {
  color: #44aa3f;
  font-size: 18px;
}

.withdraw .two-button-container {
  width: 500px;
  margin: 7px auto;
}
