
<div class="menu-container landing text-center">

	<h3>How would you like to access our services?</h3>
	
	<!-- 2 col menu -->
	<div class="row">
		<div class="col-sm-6">
			<div class="transparent-container landing">
				<p>Use my ATM Card</p>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="transparent-container landing second">
			<p>Pay UOB Credit Card with Other Bank's ATM Card</p>	
			</div>
		</div>
	</div>

	<div class="row know">
		<div class="col-sm-12">
			<img src="assets/img/icons/know.png"/>
		</div>
	</div>

</div>