<div class="text-center pin-container">
	<!-- welcome message -->
	<h3>Welcome, you are accessing ATM Services.</h3>
	<h3>Enter PIN to continue</h3>
	<!-- password container -->
	<div class="transparent-container password-wrapper">
		<form id="login-form-2" name="loginForm">
			<input id="pin" autofocus class="pass-box" type="password" maxlength="6" minlength="6" required name="password" ng-model="password" style="box-sizing: content-box;">
		</form>
	</div>
</div>