
<div class="menu-container text-center">

	<h3>Hello Harry Tan, what would you like to do today?</h3>

	<img src="assets/img/icons/arrow-right.png" class="arrow-right" />
	
	<!-- 2 col menu -->
	<div class="row">
		<div class="col-sm-6">
			<div class="transparent-container" ng-click="goToNextPage()">
				<img src="assets/img/icons/withdraw.png" />
			</div>
		</div>
		<div class="col-sm-6">
			<div class="transparent-container">
				<img src="assets/img/icons/balance.png" />
			</div>
		</div>
	</div>

	<!-- 4 col menu -->
	<div class="row">
		<div class="col-sm-3">
			<div class="transparent-container">
				<img src="assets/img/icons/transfer.png" />
			</div>
		</div>
		<div class="col-sm-3">
			<div class="transparent-container">
				<img src="assets/img/icons/paybill.png" />
			</div>
		</div>
		<div class="col-sm-3">
			<div class="transparent-container">
				<img src="assets/img/icons/cashcard.png" />
			</div>
		</div>
		<div class="col-sm-3">
			<div class="transparent-container">
				<img src="assets/img/icons/changepin.png" />
			</div>
		</div>
	</div>

	<!-- add fav -->
	<div class="favourite-container">
		<img src="assets/img/icons/add-fav.png" />
	</div>


</div>