
<!-- left panel -->
<div class="left-pan">
	<img width="76" height="520" src="assets/img/icons/left-pan.png"/>
</div>

<!-- main container -->
<div class="menu-container withdraw text-center">

	<h3 class="inline-heading">Select Account and Amount</h3>
	<!-- balance switch -->
	<span class="multi-button"><img src="assets/img/icons/show.jpg"/> </span>
	
	<!-- account summary -->
	<div class="carousel-wrapper" ng-swipe-left="carouselSwipeLeft()" ng-swipe-right="carouselSwipeRight()">
		<div class="carousel-section">

			<!-- hidden buttons -->
			<div id="buttonLeft"></div>
			<div id="buttonRight"></div>

			<!-- slider -->
			<ul class="accountslider">
				<!-- item -->
	  			<li class="item">
	  				<!-- account-type -->
	  				<p class="account-type">Current Account</p>
					<!-- account name number -->
	  				<div class="name-number">
	  					<p class="name">One Account</p>
	  					<p class="number">955-341-052-3</p>
	  				</div>
	  				<!-- available balance -->
	  				<div class="balance">
	  					<p>AVAILABLE BALANCE</p>
	  					<p class="amount">55,196.35 SGD</p>
	  				</div>
	  			</li>
	  			<!-- item -->
	  			<li class="item active">
	  				<!-- account-type -->
	  				<p class="account-type">Saving Account</p>
					<!-- account name number -->
	  				<div class="name-number">
	  					<p class="name">UniPlus</p>
	  					<p class="number">900-328-763-5</p>
	  				</div>
	  				<!-- available balance -->
	  				<div class="balance">
	  					<p>AVAILABLE BALANCE</p>
	  					<p class="amount">18,188.88 SGD</p>
	  				</div>
	  			</li>
	  			<!-- item -->
	  			<li class="item">
	  				<!-- account-type -->
	  				<p class="account-type">Savings Passbook</p>
					<!-- account name number -->
	  				<div class="name-number">
	  					<p class="name">Joint Current Account</p>
	  					<p class="number">453-032-876-3</p>
	  				</div>
	  				<!-- available balance -->
	  				<div class="balance">
	  					<p>AVAILABLE BALANCE</p>
	  					<p class="amount">888.88 SGD</p>
	  				</div>
	  			</li>
			</ul>
		</div>
	</div>

	<!-- enter amount -->

	<div class="row ">
		<div class="col-sm-12">
			<div class="transparent-container keypads darker">
				<div class="keypad-inner">
					<!-- fast amount -->
					<div class="row">
						<div class="col-xs-6 keypads"><p>Select Fast Cash Amount</p>
						<div class="first-row">
							<div class="key-boxes"><p ng-click="quickWithdraw(50)">50</p></div>
							<div class="key-boxes second"><p ng-click="quickWithdraw(80)">80</p></div>
							<div class="key-boxes second"><p ng-click="quickWithdraw(100)">100</p></div>
						</div>
						<div class="second-row">
							<div class="key-boxes"><p ng-click="quickWithdraw(200)">200</p></div>
							<div class="key-boxes second"><p ng-click="quickWithdraw(500)">500</p></div>
							<div class="key-boxes second"><p ng-click="quickWithdraw(1000)">1,000</p></div>
						</div>
					</div>
					<div class="col-xs-6 others"><p>Other Amount</p>
					<!-- number input -->
					<form>
						<input class="other-amount" type="text" maxlength="4" />
					</form>
					<!-- number pad -->
					<div class="numbers">
						<img usemap="#green" src="assets/img/icons/numbers.png"/>
						<map name="green">
							<area id="1" shape="rect" coords="0,3,73,34">
							<area id="2" shape="rect" coords="78,2,150,35">
							<area id="3" shape="rect" coords="153,3,223,36">
							<area id="4" shape="rect" coords="1,36,73,73">
							<area id="5" shape="rect" coords="78,39,146,73">
							<area id="6" shape="rect" coords="155,40,223,71">
							<area id="7" shape="rect" coords="1,75,74,108">
							<area id="8" shape="rect" coords="77,76,148,106">
							<area id="9" shape="rect" coords="153,75,224,107">
							<area id="del" shape="rect" coords="1,112,74,143">
							<area id="0" shape="rect" coords="82,111,147,142">
						</map>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- two button container -->
	<div class="two-button-container">
		<a ui-sref="mainmenu"><button class="btn btn-default white">Cancel</button></a>
		<button class="btn btn-default" ng-click="manualProceed()">Proceed</button>
	</div>

</div>