
<div class="summary-wrapper text-center">

	<h3>Your transaction is successful.<br/>Remember to take your Cash.</h3>
	
	<!-- summary container-->
	<div class="row summary-container">

		<!-- account type -->
		<p class="account-type">{{data.accType}}</p>

		<!-- account name & number -->
		<div class="account-name">
			<p class="name">{{data.accName}}</p>
			<p class="number">{{data.accNo}}</p>
		</div>

		<!-- available balance -->
		<div class="account-balance">
			<p>AVAILABLE BALANCE</p>
			<p class="balance">{{ (data.accBal-data.withdrawAmt)  | currency:"":0}} SGD</p>
		</div>
		
		<!-- date  -->
		<p class="date">{{fullDate}}</p>
		
		<!-- location & amount -->
		<div class="location-amount">
			<p class="location">ATM WITHDRAWAL AT RAFFLES PLACE</p>
			<p class="amount">{{data.withdrawAmt}}.00 SGD</p>
		</div>

		<!-- two button container -->
		<div class="two-button-container">
			<a ui-sref="acknowledgement">
				<button class="btn btn-default">Print Receipt</button>
			</a>
			<a ui-sref="acknowledgement">
				<button class="btn btn-default">Send Receipt</button>
			</a>
		</div>

	</div>


</div>