<div class="menu-container acknowledgement text-center">
	<h3 class="inline-heading">Thank you for Banking with us</h3>
	<div class="row acknowlegement-box">
		<div class="col-sm-12">
			<div class="transparent-container acknowledgement">
				<div class="transparent-inner text-center">
					<p class="timing">Start Time: <span class="timing text-uppercase"> {{data.startDate}} </span></p>
					<p class="timing">End Time: <span class="timing text-uppercase"> {{akDate}} </span></p>
				</div>
			</div>
		</div>
	</div>
</div>